{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Student Affairs</title>
    <link rel="stylesheet" href="{%static 'studentaffairs_app/css/index.css'%}">
</head>

<body>
    <div class="container">
        <h1>Our Website</h1>
        <p>Welcome to Our website! Please choose one of the following projects:</p>
        <div class="projects">
            <div class="project">
                <h2>Human Resources</h2>
                <a href="#">Go to project</a>
            </div>
            <div class="project">
                <h2>Students Affairs</h2>
                <a href="/home">Go to project</a>
            </div>
            <div class="project">
                <h2>Higher Studies</h2>
                <a href="#">Go to project</a>
            </div>
            <div class="project">
                <h2>Laboratory Tracking</h2>
                <a href="#">Go to project</a>
            </div>
        </div>
    </div>
</body>

</html>