@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
 box-sizing: border-box;
 font-family: 'Poppins',sans-serif;
 } 
body {
   margin: 0;
   padding: 0;
   background-color: white; 
   color: #333; 
 }

header {
  margin-top: 0px;
  height: 100px;
  position: relative;
}
.page-name {
  color:  #005BEA ;
  top: 38px;
  left: 112px;
  position: absolute;
  font-size: 28px;

}
.logo {
  width: 150px;
  height: 100px;
}
nav {
  background: linear-gradient(40deg, #00C6FB 0%, #005BEA 100%);
  color: #F9F9F9; 
  display: flex;
  justify-content:right;
  align-items: center;
  padding: 10px 20px 10px 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  width: 100%;
  position: sticky;
  top: 0px;
}

nav ul {
  list-style: none;
  display: flex;
}
nav a {
  color: #F9F9F9; 
  text-decoration: none;
  padding: 10px;
  border-radius: 30px;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: #F9F9F9; 
  color: #0072C6; 
}

  .searc {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .searc h2 {
    margin-right: 10px;
  }
  
  .searc input[type="search"] {
    padding: 5px;
    font-size: 16px;
  }
  
  .searc button {
    padding: 5px 10px;
    font-size: 16px;
    background: linear-gradient(40deg, #00C6FB 0%, #005BEA 100%);
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .searc button img {
    margin-left: 5px;
  }
  
  .searc button:hover {
    background-color: #2283f2;
  }
  
  table {
    margin: 0 auto;
    border-collapse: collapse;
    border: 2px solid black;
  }
  
  table th, table td {
    padding: 10px;
    text-align: center;
  }
  
  table th {
    background-color: #2283f2;
    color: white;
  }
  footer {
    background: linear-gradient(40deg, #00C6FB 0%, #005BEA 100%);
    color: #F9F9F9; 
    text-align: center;
    padding: 10px;
    bottom: 0;
  }
  
  footer p {
    margin: 0;
  }
  